.linkcat2 a:hover {
    color: #fff !important;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    background: rgba(0, 0, 0, 1);
}


div.fulltopblogmenu .fullwidth-menu-nav  ul {
	padding: 20px 0 !important;
}



ca degage